@import "tailwindcss";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    background-color: #2B7FFF;
    padding: 10px;
    border-radius: .5rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.btn-2 {
    background-color: rgb(16, 128, 16);
}



.input {
    border: 1px solid #ccc;
    padding: 8px 12px;
    border-radius: 4px;
    outline: none;
    border-radius: 5px;
    width: 90%;
    margin: 5px;
}

.input:focus {
    border-color: #3b82f6;
    /* Tailwind's blue-500 */
    box-shadow: 0 0 0 1px #3b82f6;
}